* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

aside {
    background: #000;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.controller-image {
    width: 100%; 
}

main {
    width: 25%;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container {
    background: #fff;
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px; 
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    margin-bottom: 50px;
    color: #555; 
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #7e8b97;
    
}

input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: #edf2f7;
}

button {
    padding: 10px;
    background: #000; 
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 95%;
}

button:hover {
    background: #444; 
}

.signup-link {
    margin-top: 50px;
    margin-left: 80px;
    align-items: center;
    font-size: small;
}

.signup-link a {
    color: #000;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.terms-container {
    width: 100%;
    margin-top: 20px; 
    font-family: Arial, sans-serif; 
    display: flex; 
    align-items: start;
}

.terms-container label {
    font-size: 14px;
    color: #555; 
    display: flex;
    align-items: center; 
}

.terms-container input[type="checkbox"] {
    margin-right: 5px; 
}

.terms-link,
.privacy-link {
    color: #007bff; 
    text-decoration: none; 
}

.terms-link:hover,
.privacy-link:hover {
    text-decoration: underline; 
}

/*Responsiveness */
@media (max-width: 1024px) {
    aside {
        width: 50%; 
    }

    main {
        width: 50%; 
        margin-left: 50px;
    }
}

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column; 
    }

    aside {
        width: 20%; 
        height: 50%; 
    }

    main {
        width: 60%; 
        height: 50%; 
    }

    .form-container {
        padding: 20px; 
    }
}

@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 20%; 
        height: 50%; 
    }

    main {
        width: 60%;
        height: 50%; 
    }
    h1 {
        font-size: 1.5rem; 
    }

    p {
        margin-bottom: 20px;
    }

    input {
        margin-bottom: 15px; 
    }

    .signup-link {
        margin-left: 0; 
        text-align: center; 
    }
}