* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red;   */
}

body {
    font-family: "Poppins", sans-serif;
    height: auto;
    display: flex;
    flex-direction: column;

}

header {
    display: flex;
    justify-content: space-between;
    /* Ensures icons move to the right */
    align-items: center;
    padding: 15px 20px;
    background-color: #090101;
}

.nav-menu ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.icons {
    display: flex;
    gap: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #f7f1f1;
    margin-left: auto;
    margin-right: 200px;

}

header .logo {
    display: flex;
    width: auto;
    margin-left: 120px;
}

div img {
    width: 100%;
    height: auto;
}

main nav {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100%;
    padding: 0;
    margin-top: 50px;
    justify-content: center;
}


nav li {
    list-style: none;
    color: #777E90;
}

.bx {
    font-size: 1.2rem;
    color: #777E90;

}

li form {
    width: 100%;
    position: relative;
    display: inline-block;
}

li input {
    width: 350px;
    height: 35px;
    background: #f7f7f7;
    border-radius: 10px;
    padding: 10px 10px 10px 35px;

}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #111010;
    cursor: pointer;
}

.logo img {
    width: 100px;
    height: auto;
}


.nav-menu ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    color: aliceblue;
}

.nav-menu li {
    cursor: pointer;
    flex-shrink: 0;
}

.nav-menu {
    overflow: visible;
}

.nav-menu li span {
    display: flex;
    align-items: center;
}


.menu-toggle {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    min-height: 500px;
    gap: 50px;
}

.cart-container {
    margin-top: 20px;
    max-width: 800px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 20px;
        padding: 10px 0;

    }

    .cart-count {
        margin-left: 5px;
        font-weight: 400;
        color: #939699;
    }
}

.cart-table {
    background-color: #F5F5F5;
    border-radius: 8px;

    th {
        height: 40px;
        font-weight: 400;
        font-size: 14px;
        color: #4B5157;
        border-bottom: 2px solid #D9DADB;
    }

    th.item {
        text-align: left;
        padding: 5px;
        width: 200px;
    }
    th.price {
        text-align: right;
        width: 90px;
    }
    th.quantity {
        width: 155px;
    }
    th.total-price {
        width: 100px;
        text-align: left;
    }
    th.actions {
        font-size: 0;
    }
}

td.item-info {
    display: flex;
    padding: 10px 20px;
    width: 300px;
    img {
        width: 70px;
        height: auto;
    }

    p {
        width: 200px;
        font-size: 14px;
        font-weight: 400;
    }
    td {
        text-align: center;
        vertical-align: middle;
    }
}

.cart-item {
    text-align: center;
}

td.actions {
    text-align: center;
    vertical-align: middle;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px; 
    margin: 0 5px; 
}

.wishlist {
    color: #BCBFC2;  
}

.remove {
    color: #BCBFC2; 
}

.actions i {
    font-size: 20px;
}

.quantity-control {
    display: flex;
    align-items: center;  
    justify-content: center; 
    border-radius: 40px;
    height: 40px;
    width: 109px;
    margin: auto; 
    border: 2px solid #D9DADB;

    button {
        width: 24px; 
        height: 24px; 
        border: none;
        background: none;
        font-size: 20px;
        color: #888;
        cursor: pointer;
    }

 
    span {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        width: 35px;
    }
}

.promo-section {
    display: flex;
    align-items: center;
    justify-content: left; 
    padding: 20px 0;
    width: 100%;
    gap: 15px; 
    border-bottom: 3px solid #D9DADB;

    label {
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap; 
    }

    p {
        font-weight: 300;
    }
    
    span {
        font-weight: 500;
    }
}

#promo-code {
    height: 35px;
    max-width: 140px; 
    border: 1px solid #141416;
    border-radius: 50px;
    padding: 0 10px;
    font-size: 14px;
    text-align: left;
    outline: none;
}

.promo-message {
    font-size: 14px;
    color: #555;
    max-width: 250px;
    width: 100%;
}


.summary-details {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
}

.cart-actions {
    display: flex;
    padding: 20px 0 0;
    justify-content: space-between;
    margin-top: auto;

    a {
        font-size: 14px;
        text-decoration: none;
        color: #939699;
        display: inline-block;
        margin: 0;
        margin-top: 5px;
    }
}

.summary-details {
    font-size: 14px;

    p {
        font-weight: 400;
    }
    span {
        font-weight: 700;
    }
}

.lower-content {
    margin-top: 30px;
    width: 400px;
    background: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    height: 420px;

    h1 {
        font-size: 20px;
    }
}

.shipping-form input {
    border-bottom: 10px;
    width: 94.5%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.name-fields, .location-fields {
    display: flex;
    gap: 10px;
}

.name-fields input, .location-fields input {
    flex: 1;
}

.order-summary {
    display: flex;
    flex-direction: column;
    height: 80px;
    h2 {
        padding: 5px 0;
        font-size: 20px;
        border-top: 40px;
    }
    
}

.order-summary p {
    display: flex;
    justify-content: space-between;
}

.total {
    padding: 15px 0;
    font-weight: bold;
    color: #141416;
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    background: #141416;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
