* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, 'Helvetica', sans-serif;
    max-height: 100%;
    overflow-x: hidden;
    box-sizing: border-box
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #090101;
    max-width: 100%;
}

.nav-menu ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    gap: 1.3em;
    margin: 0;
    padding: 0;
}


.icons {
    position: relative;
    display: flex;
    gap: 2.5em;
    font-size: 1.5rem;
    cursor: pointer;
    color: #f7f1f1;
    margin-left: auto;
    margin-right: 200px;

}

#cart-count {
    position: absolute;
    top: -12px;
    right: -3px;
    background: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 4px 8px;
    display: none;
    justify-content: center;
    align-items: center;
}

#cart-icon {
    position: relative;
}

header .logo {
    display: flex;
    width: auto;
    margin-left: 120px;
}

div img {
    width: 100%;
    height: auto;
}

main nav {
    display: flex;
    align-items: center;
    gap: 3.1em;
    height: 100%;
    padding: 0;
    margin-top: 50px;
    justify-content: center;
}


nav li {
    list-style: none;
}

.bx {
    font-size: 1.2rem;

}

li form {
    width: 100%;
    position: relative;
    display: inline-block;
}

li input {
    width: 350px;
    height: 35px;
    background: #f7f7f7;
    border-radius: 10px;
    padding: 10px 10px 10px 35px;

}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #111010;
    cursor: pointer;
}

.logo img {
    width: 100px;
    height: auto;
}


.nav-menu ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    color: aliceblue;
}

.nav-menu li {
    cursor: pointer;
    flex-shrink: 0;
}

.nav-menu {
    overflow: visible;
}

.nav-menu li span {
    display: flex;
    align-items: center;
}


.menu-toggle {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}


.secondary-nav {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.secondary-nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
}

.secondary-nav li {
    display: flex;
    align-items: center;
    gap: 5px;
}

li form {
    width: 100%;
    position: relative;
    display: inline-block;
}

li input {
    width: 350px;
    height: 35px;
    background: #f7f7f7;
    border-radius: 10px;
    padding: 10px 10px 10px 35px;
    border: none;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #111010;
    cursor: pointer;
}

.advertise-phone {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    margin-top: 40px;


}

.advertise-video {
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 50%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.recommeded-gamimg-phone h1 {
    margin: 50px 0px 40px 150px;
}

.recommeded-gamimg-phone {
    width: 100%;
    height: 50%;
}


.recommeded-gamimg-phone ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
    list-style: none;
    padding: 0;
    margin: 0 60px 0 90px;
    transition: all 0.3s ease-in-out;

}

.recommeded-gamimg-phone li {
    list-style: none;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 85%;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;

}

.recommeded-gamimg-phone li h1 {
    font-size: 1.1rem;
    margin: 30px 0;
}

.recommeded-gamimg-phone li:hover {
    transform: translateY(-5px);
}

.recommeded-gamimg-phone li img {
    max-width: 100%;
    max-height: 50%;
}

.recommeded-gamimg-phone li img:hover {
    transform: translateY(-5px);
}

.price {
    font-size: 1em;
    font-weight: bold;
    color: #ff4500;
    display: inline-block;
    margin-bottom: 10px;
}

.cart-btn,
.price {
    margin-top: 10px;
}

.cart-btn {
    background-color: #262D33;
    color: white;
    border: none;
    padding: 8px 13px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    gap: 5px;
}

.cart-btn:hover {
    background-color: #e03e00;
}

.rating {
    font-size: 10px;
    margin-top: 10px;
    color: #646462;
    text-align: left;

}

.number-rating {
    font-size: 20px;
    margin-top: 10px;
    color: #4e4d4c;

}

.best-seller-gamimg-phone {
    width: 100%;
    height: 50%;
}

.best-seller-gamimg-phone h1 {
    margin: 50px 0px 40px 150px;
    font-size: 1.1rem;
}

.best-seller-gamimg-phone ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
    list-style: none;
    padding: 0;
    margin: 0 60px 0 90px;

}

.best-seller-gamimg-phone li {
    list-style: none;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 85%;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;

}

.best-seller-gamimg-phone li h1 {
    font-size: 1rem;
    margin: 20px 0;
}

.best-seller-gamimg-phone li:hover {
    transform: translateY(-5px);
}

.best-seller-gamimg-phone li img {
    max-width: 100%;
    max-height: 50%;
}

.best-seller-gamimg-phone li img:hover {
    transform: translateY(-5px);
}

.all-products {
    width: 100%;
    height: 50%;
}

.all-products h1 {
    margin: 50px 0px 40px 150px;
    font-size: 1rem;
}

.all-products ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
    list-style: none;
    padding: 0;
    margin: 0 50px 0 90px;

}

.all-products li {
    list-style: none;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 70%;
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    transition: transform 0.3s ease;

}

.all-products li h1 {
    font-size: 1em;
    margin: 10px 0;
}

.all-products li:hover {
    transform: translateY(-5px);
}

.all-products li img {
    max-width: 100%;
    max-height: 50%;
}

.all-products li img:hover {
    transform: translateY(-5px);
}

footer {
    margin-top: 2rem;
    width: 100%;
    height: auto;
    background: #f4f5f6;
    padding: 2rem 0;

}

footer h1 {
    margin-left: 5%;
    padding-top: 2rem;
    font-size: 2rem;

}

footer ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 0 1rem;
}

footer li {
    list-style: none;
    font-size: 1rem;
    color: #918e8e;
    padding: 0.5rem;
    margin-bottom: 1rem;
    text-align: left;
    flex: 1;
    min-width: 200px;

}

footer li h3 {
    color: #4e4d4c;
    margin-bottom: 10px;

}

footer li h4 {
    font-size: .8rem;
}

footer li img {
    width: 80%;
    max-width: 150px;
}

footer li div {
    display: flex;
    gap: 10px;
}

footer li div i {
    font-size: 1.5rem;
    color: #4e4d4c;
}


@media (max-width:1500px) {
    .advertise-phone {
        flex-shrink: 1;
    }

    .advertise-phone img {
        width: 14%;
    }

}

@media (max-width: 1024px) {
    .rating {
        display: none;
    }

    section .nav-menu ul {
        gap: 30px;
    }

    .logo {
        margin: 0;
    }

    header {
        display: flex;
        justify-content: space-between;

    }

    header li:nth-child(1),
    header li:nth-child(2),
    header li:nth-child(3),
    header li:nth-child(4),
    header li:nth-child(5),
    header li:nth-child(6) {
        display: none;
    }

    .bx {

        margin-right: 20px;
    }

    .secondary-nav {
        flex-direction: column;
        text-align: center;
    }

    .secondary-nav ul {
        flex-direction: column;
        gap: 20px;
    }

    .secondary-nav li:nth-child(1),
    .secondary-nav li:nth-child(2) {
        display: none;
    }

    .recommeded-gamimg-phone ul,
    .best-seller-gamimg-phone ul,
    .all-products ul {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 80px;

    }

    footer {
        max-width: 100%;
    }

}

@media (max-width: 768px) {

    .recommeded-gamimg-phone ul,
    .best-seller-gamimg-phone ul,
    .all-products ul {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 20px;

    }

    .recommeded-gamimg-phone li img,
    .best-seller-gamimg-phone li img,
    .all-products li img {
        width: 100%;
        height: 40%;
    }

    li .price,
    li .cart-btn {
        text-align: left;

    }

    li .cart-btn {
        max-width: 50%;
        max-height: 50%;
        font-size: .5em;
        padding-left: 2.5em;

    }

    .nav-menu {
        display: none;
    }

    .menu-toggle {
        display: block;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .logo {
        margin-left: 0;

    }

    .icons {
        display: none;

    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .advertise-phone img {

        display: flex;
        margin-left: 50px;
        width: 30%;
        border-radius: 10px;
    }

    footer {
        max-width: 100%;
    }

    footer h1 {
        text-align: left;
        margin-left: 2em;
    }

    footer ul {
        flex-direction: row;
        gap: .7em;
    }

    footer li {
        width: 100%;
        text-align: left;
    }


    footer li img {
        width: 40%;
    }

    footer li div i {
        margin-left: 0;
    }


}

@media (max-width: 480px) {

    .recommeded-gamimg-phone ul,
    .best-seller-gamimg-phone ul,
    .all-products ul {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 20px;

    }

    .recommeded-gamimg-phone li img,
    .best-seller-gamimg-phone li img,
    .all-products li img {
        width: 90%;
        height: 40%;
    }

    .recommeded-gamimg-phone li h1,
    .best-seller-gamimg-phone li h1,
    .all-products li h1 {
        font-size: .8rem;
    }

    li .cart-btn {
        max-width: 50%;
        max-height: 100%;
        font-size: .4em;
        padding-left: 2.8em;

    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .secondary-nav ul {
        gap: 15px;
    }

    footer {
        max-height: fit-content;
    }

    li input {
        width: 100%;
    }

    footer h1 {
        text-align: left;
        margin-left: 2em;
    }

    footer ul {
        flex-direction: row;
        gap: .5em;
    }

    footer li {
        width: 100%;

    }

    footer li img {
        width: 40%;

    }
}